html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button,
button:focus,
button:active {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

body {
  line-height: 1;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  display: flex;
  padding: 2rem 1rem;
  justify-content: space-between;
  margin-bottom: -0.7rem;
}

#logo {
  max-height: 1.3rem;
  margin-left: 0.7rem;
}

.nav-left,
.nav-right {
  display: inline-flex;
}

#menu,
#cart {
  max-height: 1.3rem;
  min-width: 1.3rem;
  color: #69707d;
}

#avatar {
  max-height: 1.5rem;
  margin-left: 1rem;
}

#avatar:hover {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 100%;
}

#sneakers {
  width: 100%;
  max-height: 18rem;
}

.product {
  max-width: 100%;
  max-height: 30rem;
  position: relative;
}

#next {
  border-radius: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  bottom: 45%;
}

#prev {
  border-radius: 100%;
  padding: 1rem;
  position: absolute;
  left: 0;
  margin-left: 1rem;
  bottom: 45%;
}

.text {
  margin-top: 1rem;
  margin-left: 1rem;
}

.text h3 {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.text h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text p {
  color: gray;
  line-height: 1.6rem;
}

.price-container {
  display: inline-flex;
  margin-left: 1rem;
  margin-top: 1rem;
}

#price {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

#discount {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: 0.9rem;
  margin-right: 9rem;
  background-color: hsl(25, 100%, 94%);
  padding: 0.2rem 0.3rem;
}

#full-price {
  color: lightgray;
  font-weight: 400;
  text-decoration: line-through;
}

#add-remove-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem;
  background-color: hsl(223, 64%, 98%);
  border-radius: 12px;
  padding: 1rem 1rem;
  font-weight: 700;
}

.cart-container {
  display: flex;
  justify-content: center;
}

#add-to-cart-button,
#checkout-button {
  background-color: hsl(26, 100%, 55%);
  width: 19.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 12px;
  color: white;
  font-weight: 700;
}

#add-to-cart-button img {
  margin-right: 1rem;
}

.menu-container {
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: white;
}

.menu-container a,
.menu-container #x {
  text-decoration: none;
  color: black;
  font-weight: 700;
  position: absolute;
  display: flex;
  line-height: 3rem;
  z-index: 99;
  position: static;
  background-color: white;
  margin-left: 1rem;
}

#gray {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100rem;
  min-height: 100rem;
  z-index: 98;
  background-color: black;
  opacity: 0.5;
}

.inactive {
  display: none;
}

#x {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

#emptyCart {
  z-index: 2;
  margin: 0.8rem;
  border-radius: 4%;
  position: absolute;
  min-height: 80%;
  max-height: 15rem;
  width: 93%;
  background-color: white;
}

#cart-text-border {
  border-bottom: solid 1px lightgray;
}

#empty {
  margin-top: 5rem;
}

#cart-text {
  margin: 1.7rem;
  font-weight: 700;
  color: black;
}

#cart-state {
  color: gray;
  max-width: 100%;
  max-height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 20% 60% 20%;
  margin-left: 1rem;
  margin-top: 1rem;
}

#delete {
  margin-top: 1.5rem;
}

#cart-image {
  max-height: 4rem;
  max-width: 4rem;
  margin: 0;
  border-radius: 10%;
}

#checkout-button {
  margin-left: 0.3rem;
}

#total {
  color: black;
  font-weight: 700;
  margin-left: 0.5rem;
}

#plus,
#minus {
  background-color: hsl(223, 64%, 98%);
}

#cart-item-ammount {
  position: absolute;
  margin-left: -0.9rem;
  margin-top: -0.6rem;
  background-color: hsl(26, 100%, 55%);
  color: #ffffff;
  font-weight: 900;
  font-size: 0.75rem;
  border-radius: 1rem;
  height: 0.8rem;
  width: 1.2rem;
  padding-bottom: 2px;
}

#sneaker-thumbnail {
  display: none;
}

@media screen and (min-width: 481px) {
  body {
    font-size: 24px;
  }

  .menu-container a {
    line-height: 5rem;
    font-size: 2.5rem;
  }

  #logo {
    margin-left: 2rem;
    margin-top: 0.6rem;
    min-width: 10rem;
  }

  .cart-cont {
    margin-left: -5rem;
  }

  #cart-icon {
    height: 2rem;
  }

  #avatar {
    min-height: 3rem;
    width: 3rem;
  }

  #sneakers {
    min-height: 30rem;
  }

  .text {
    line-height: 2.5rem;
  }

  .price-container {
    margin-top: 2rem;
  }

  .text h3 {
    font-size: 1.2rem;
  }

  #add-remove-to-cart {
    margin-top: 2.7rem;
    width: 5rem;
  }

  .cart-container {
    margin-top: 5rem;
  }

  #add-to-cart-button {
    height: 5rem;
    width: 35rem;
    font-size: 1.5rem;
  }

  #add-to-cart-button img {
    height: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 769px) {
  #graytwo {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 98;
    background-color: black;
    opacity: 0.5;
  }

  #menu,
  .menu-container,
  #prev,
  #next {
    display: none;
  }

  nav {
    border-bottom: 1px solid lightgray;
    max-height: 1rem;
    margin-top: -1rem;
  }

  .navlink:hover {
    border-bottom: 5px solid hsl(26, 100%, 55%);
    padding-bottom: 1.9rem;
   }

  #logo {
    margin-left: -1rem;
    max-width: 5rem;
    min-width: 1rem;
    max-height: 1rem;
    min-height: 1rem;
  }

  #collections {
    display: flex;
    font-size: 0.8rem;
    margin-left: -17rem;
  }

  #collections a {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
    margin-top: 0.8rem;
  }

  .cart-cont {
    margin-right: -3rem;
    margin-top: 0.3rem;
  }

  #cart-icon {
    height: 1rem;
  }

  #avatar {
    min-height: 2rem;
    width: 2rem;
  }

  #sneakers {
    margin-top: 7rem;
    min-width: 10rem;
    max-width: 20rem;
    min-height: 20rem;
    border-radius: 5%;
    grid-area: 1 / 1 / 2 / 5;
  }

  .image-container {
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: 1fr 100px;
    grid-column-gap: 0.35rem;
    grid-row-gap: 1rem;
  }

  #thmb1 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #thmb2 {
    grid-area: 2 / 2 / 3 / 3;
  }

  #thmb3 {
    grid-area: 2 / 3 / 3 / 4;
  }

  #thmb4 {
    grid-area: 2 / 4 / 3 / 5;
  }

  #thmb1,
  #thmb2,
  #thmb3,
  #thmb4 {
    max-height: 4rem;
    max-width: 4rem;
    border-radius: 12%;
  }

  .product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 4rem;
  }

  #sneaker-thumbnail {
    display: contents;
  }

  #text-wrapper {
    margin-top: 10rem;
    font-size: 1rem;
    margin-right: 1.5rem;
  }

  .text {
    line-height: 1.3rem;
  }

  .text h3 {
    font-size: 1rem;
  }

  .text h2 {
    font-size: 1.5rem;
  }

  #cart-wrapper {
    display: flex;
    margin-left: -1rem;
  }

  #price,
  #discount {
    font-size: 1.3rem;
  }

  #discount {
    margin-top: -0.2rem;
  }

  #full-price {
    margin-left: -6rem;
  }

  .add-to-cart {
    min-width: 5.5rem;
    height: 0.1rem;
  }

  #add-to-cart-button {
    font-size: 0.8rem;
    width: 11rem;
    height: 2.6rem;
    margin-top: -2rem;
  }

  #add-to-cart-button img {
    height: 1rem;
    width: 1rem;
  }

  #enlarged-wrapper {
    text-align: center;
  }
  
  #enlarged-imgs-wrapper {
    width: 100%;
    height: 51rem;
    position: absolute;
    z-index: 99;
    margin-top: 4rem;
    grid-template-rows: 3rem 2fr 1fr;
    grid-template-columns: 30rem;
    justify-content: center;
    display: none;
  }
  
  #X {
    margin-left: 23rem;
    font-size: 1.5rem;
    background: none;
    margin-top: -1rem;
    z-index: 99;
  }
  
  #enlarged-img {
    max-width: 27rem;
    max-height: 27rem;
    border-radius: 15px;
  }
  
  #e-thmb1,
  #e-thmb2,
  #e-thmb3,
  #e-thmb4 {
    width: 5rem;
    width: 5rem;
    border-radius: 15px;
    margin-top: -5rem;
    margin-left: 1rem;
  }
  
  .test { 
    max-width: 29rem;
    margin-top: -16rem;
    justify-content: space-between;
    display: flex;
  }
  
  #e-next {
    border-radius: 100%;
    padding: 1rem;
    bottom: 65%;
    z-index: 99;
  }
  
  #e-prev {
    border-radius: 100%;
    padding: 1rem;
    z-index: 99;
    margin-left: -1rem;
  }

  #cart-item-ammount {
    margin-left: -0.7rem;
    margin-top: -0.4rem;
    font-size: 0.66rem;
    height: 0.7rem;
    width: 1rem;
  }

  #emptyCart {
    min-height: 15rem;
    width: 20rem;
    right: 0;
    font-size: 0.9rem;
    border: 1px solid lightgray;
    box-shadow: 10px 10px 10px gray;
  }

  #checkout-button {
    height: 3rem;
    width: 16rem;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1023px) {
  #gray {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: 10;
    background-color: black;
    opacity: 0.5;
  }
  
  nav {
    padding-bottom: 2.7rem;
  }

  .navlink:hover {
    border-bottom: 5px solid hsl(26, 100%, 55%);
    padding-bottom: 2.6rem;
   }

  #collections {
    font-size: 1rem;
  }

  #logo {
    min-width: 9.7rem;
    min-height: 1.2rem;
  }

  .cart-cont img {
    min-width: 1.7rem;
    min-height: 1.7rem;
  }

  #avatar {
    min-width: 2.7rem;
    min-height: 2.2rem;
  }

  .image-container {
    gap: 1.7rem;
    margin-left: 5rem;
  }

  #sneakers {
    min-width: 25rem;
    margin-top: 10rem;
  }

  #sneaker-thumbnail img {
    min-width: 4.7rem;
    min-height: 4.7rem;
  }

  #text-wrapper {
    margin-left: 5rem;
    margin-right: 2rem;
    margin-top: 15rem;
  }

  #add-remove-to-cart {
    min-width: 8rem;
    min-height: 1.3rem;
  }

  #add-to-cart-button {
    min-width: 12rem;
    min-height: 1.3rem;
  }

  #cart-item-ammount {
    margin-left: -1rem;
    margin-top: -0.43rem;
    font-size: 0.8rem;
    height: 1rem;
    width: 1.5rem;
  }

   #cart-state {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 20% 60% 20%;
    margin-left: 1rem;

  }

  #checkout-button {
    height: 3rem;
    width: 16rem;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1366px) {
  #collections {
    margin-left: -30rem;
  }

  .image-container {
    margin-left: 15rem;
  }
}

@media screen and (min-width: 1919px) {
  #collections {
    margin-left: -60rem;
    font-size: 1.1rem;
  }

  #sneakers {
    min-width: 30rem;
    min-height: 25rem;
  }

  .image-container {
    gap: 3rem;
    margin-left: 10rem;
  }

  #sneaker-thumbnail img {
    min-width: 6rem;
    min-height: 6rem;
  }

  #text-wrapper {
    margin-left: 10rem;
    margin-right: 5rem;
    margin-top: 17rem;
    font-size: 1.2rem;
  }

  #add-remove-to-cart {
    min-width: 10rem;
    min-height: 2rem;
  }

  #add-to-cart-button {
    min-width: 17rem;
    min-height: 3.5rem;
    font-size: 1rem;
  }

  .text h3 {
    font-size: 1.3rem;
  }

  .text h2 {
    font-size: 1.7rem;
  }

  #price,
  #discount {
    font-size: 1.5rem;
  }

  #X {
    margin-left: 23rem;
    background: none;
  }
  
  #enlarged-imgs-wrapper {
    grid-template-columns: 50rem;
    height: 70rem;
  }

  #enlarged-img {
    max-width: 37rem;
    max-height: 37rem;
    border-radius: 15px;
  }
  
  #e-thmb1,
  #e-thmb2,
  #e-thmb3,
  #e-thmb4 {
    width: 7rem;
    width: 7rem;
    border-radius: 15px;
    margin-top: -5rem;
    margin-left: 1.6rem;
  }
  
  .test { 
    min-width: 38rem;
    margin-top: -16rem;
    display: flex;
    justify-content: space-between;
  }
  
  #e-next {
    border-radius: 100%;
    padding: 1.5rem;
    bottom: 65%;
  }
  
  #e-prev {
    border-radius: 100%;
    padding: 1.5rem;
    margin-left: -1rem;
  }
}
